@import '../../style/global';

.layout {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #f7f9fe;
  min-height: 100vh;

  .body {
    margin-top: 60px;
    height: calc(100% - 100px);
    width: 100%;

    .childrenBody {
      max-width: @maxBoxWidth;
      padding: 0.625rem 1.25rem;
      margin: 0 auto;
      display: flex;
      min-height: 100vh;

      .content {
        transition: all 0.3s ease-in-out;
      }

      .asideContent {
        width: 25%;
        transition: all 0.1s;
      }
    }

    .footer {
      margin-top: 1.25rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .content {
    width: 100% !important;
  }

  .asideContent {
    max-width: 300px;
    min-width: 300px;
    padding-left: 0.625rem;
  }
}

@media screen and (min-width: 900px) {
  .asideContent {
    padding-left: 0.9375rem;
  }
}

@media screen and (max-width: 900px) {
  .childrenBody {
    flex-direction: column;
    padding: 0.625rem !important;

    .content {
      width: 100% !important;
    }

    .asideContent {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
