.footer {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .link {
    margin: 1.25rem 1.6875rem;
    font-size: 1.625rem;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: cubic-bezier(0, 0, 0, 1.29) 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }

    i {
      font-size: inherit;
      cursor: pointer;
    }
  }
}

.footerBar {
  display: flex;
  background: linear-gradient(208deg, #4584ff 0, #4584ff 11%, #ff7676 100%);
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1.25rem;
  margin-top: 1.25rem;

  .footerTitle {
  }

  .footerInfo {
    > span {
      font-size: 1rem;
      margin-right: 1.25rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #ffc93c;
      }
    }
  }
}
