.pagination {
  display: flex;
  margin-top: 1.25rem;

  > div {
    background: #edf0f7;
    display: flex;
    height: 150px;
    padding: 0 2.5rem;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background: #b8b8b8;
      color: white;
    }

    span:first-child {
      font-size: 90%;
    }

    span:last-child {
      font-weight: bold;
      font-size: 1.125rem;
    }

    span {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }
  }

  .prev {
    margin-right: 3px;
    border-radius: 12px 0 0 12px;
  }

  .next {
    margin-left: 3px;
    align-items: flex-end;
    border-radius: 0 12px 12px 0;
  }

  .paginationRadius {
    border-radius: 12px;
  }
}

@media screen and (max-width: 769px) {
  .pagination {
    flex-direction: column;
    align-items: stretch;

    > div {
      height: 120px;
    }

    .prev {
      margin-right: 0;
    }

    .next {
      margin-left: 0;
      margin-top: 0.625rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .pagination {
    flex-direction: row;
    align-items: center;

    .prev {
      flex: 1;
      margin-right: 3px;
    }

    .next {
      flex: 1;
      margin-left: 3px;
    }
  }
}
