.ant-menu {
  justify-content: flex-end;
  &-horizontal {
    border-bottom: unset;
  }

  .ant-menu-item {
    padding: 0 18px !important;
    color: #898fa0 !important;
    &-selected {
      color: black !important;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        right: 10px;
        top: 5px;
        display: inline-block;
        background: #006aff;
        border-radius: 50%;
      }
    }

    .ant-menu-title-content {
      font-size: 16px;
    }

    &:after {
      border-bottom: unset !important;
    }
  }
}
